<p>list of kind of spot</p>

<% @spots.each do |spot| %>
    <h3> <%= spot.name %></h3>
        <h3> <%= image_tag spot.photo, width:300, height: 300 %>

<%= link_to "lien vers le spot", spot_path(spot) %>
<% end %>
