@font-face {
  font-family: "Metropolis";
  font-display: swap;
  src: url('Metropolis.woff2') format('woff2'),
      url('Metropolis.woff') format('woff');
}

$my-font: "Metropolis";

@font-face {
  font-family: "MetropolisBold";
  font-display: swap;
  src: url('MetropolisBold.woff') format('woff');
}

$font-bold: "MetropolisBold";

// To use a font file (.woff) uncomment following lines
// @font-face {
//   font-family: "Font Name";
//   src: font-url('FontFile.eot');
//   src: font-url('FontFile.eot?#iefix') format('embedded-opentype'),
//        font-url('FontFile.woff') format('woff'),
//        font-url('FontFile.ttf') format('truetype')
// }
// $my-font: "Font Name";
