// Specific CSS for your home-page
.homepage{
  .picture {
    background-image: asset-url("background_image.jpeg");
    height: 69vh;
    background-size: cover;
    }

  .infos_pres{
    text-align: center;
    background-color: white;
    border-top-left-radius: 50px;
    border-top-right-radius: 50px;
    position: absolute;
    bottom: 0;
    height: 50vh;
  }

  p{
    padding: 10px;
  }

}
