<div class="wrapper-navbar" id="sticky">
    <i class="fa-solid fa-chevron-left"></i>
  <div class="profile-link-img">
      <% if  current_user%>
          <%= image_tag current_user.photo %>
          <% else %>
            <%= image_tag "user-3.png" %>
          <% end %>
  </div>
</div>
