<div class="wrapper-navbar <%= "bg-white" if controller_name == 'chatrooms' %>" id="sticky">
  <div>
    <%= link_to "/categories",  class: "navbar-brand" do %>
      <i class="fas fa-home"></i>
    <% end %>
  </div>
  <div class="profile-link-img">
    <% if  current_user%>
      <%= image_tag current_user.photo %>
    <% else %>
    <img src="<%= asset_path "logo1.jpg" %>" alt="">
    <% end %>
  </div>
</div>
