<div class="homepage">
  <div class="picture">
  </div>
  <div class="infos_pres">
    <h4><strong>Welcome on TravellHer!</strong></h4>
    <p>More and more women are planning to travel alone,
    but they still have some apprehensions: <strong>safety</strong> and <strong>loneliness</strong>.</p>
    <p>TavellHer was born from these observations and aims to reassure women who travel!</p>
    <p>With TravellHer, you can join or create events, access a list of safe spots,
    meet people from all over the world and share your experience!</p>
    <%= link_to "Skip >", "", class: "btn btn-primary" %>
  </div>
</div>
