<div class="homepage">
  <div class="d-flex justify-content-center">
    <img class="logo-home" src="<%= asset_path "LOGO.png" %>" alt="">
    <div class="picture">
      <div class="infos_pres p-4">
        <h1><strong>Welcome on TravellHer!</strong></h1>
        <p>More and more women are planning to travel alone,
        but they still have some apprehensions: <strong>safety</strong> and <strong>loneliness</strong>.</p>
        <p>With TravellHer, you can <strong>join</strong> or <strong>create</strong> events, access a list of <strong>safe spots</strong>,
        <strong>meet people</strong> from all over the world and <strong>share</strong> your experience!</p>
        <%= link_to "Go!", "categories", class: 'btn button-essential' %>
        <div class="eh-connecte-toi">
        <%= link_to 'loginnn', user_session_path %>
        </div>
      </div>
    </div>
  </div>
</div>
