.wrapper-category-index {

  margin-top: 10px;

  .welcome-message-container {
    padding-left: 25px;
    margin-bottom: 35px;
  }
  .event-near-you-container {
    text-align: center;
    margin: 50px 50px;

   .link-to-event-container {
    margin: 30px 30px;
   }
  }

  .current-location {
    display: flex;
    color: #868686;
    align-items: center;

    h4 {
      font-size: 16px;
      align-items: end;
      margin: 0;
    }

    i{
      font-size: 17px;
      margin-right: 5px;
    }

  }

}

.wrapper-category-container {


  .container_category {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
  }

  h2 {
    margin-left: 25px;
    margin-bottom: 20px;
  }
}

.category-index-conainer {
  margin-top: 85px;
}
