.container-event {
  margin: 20px;
  margin-top: 75px;
}


.card-event {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #82D7AE;
  text-decoration: none;
  color: black;

}

.card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;

}

.info-event-card h3 {
  font-weight: bold;
  margin: 0;
  padding: 6px;


}

.info-event-card p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 3px;

}


.link-card-event {
  height: 120px;
  width: 350px;
  text-decoration: none;

}

.event-date-card {
  text-align: right;
  padding-right: 5px;
}

.event-profil-img{
  text-align: right;
  padding-right: 5px;

}
