.container-event {
  margin: 20px;
  margin-top: 75px;
}

.card-event {
  overflow: hidden;
  height: 120px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 18px;
  margin-top: 10px;
  border-radius: 10px;
  border: 2px solid #82D7AE;
  text-decoration: none;
  color: black;
  // position: absolute;
}

.global-events-cards {
  margin-top: 35px;
}


.card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;

}
.info-event-card {
  width: 400px;
  font-size: 15px;
  font-weight: 400;
  padding: 12px;
  height: 100%;
  flex-grow: 1;
}

.info-event-card h3 {
  font-weight: bold;
  margin: 0;
  padding: 6px;
  padding-top: 0
}

.info-event-card p {
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
}

.link-card-event {
  height: 120px;
  width: 350px;
  text-decoration: none;

}

.event-date-card {
  padding-left: 5px;
}

.event-profil-img{
  img {
    border-radius: 50%;
    height: 40px;
    width: 40px;
    margin-left: -15px;
  }
}
