.message-row {
  margin-bottom: 10px;
  padding: 8px;
}

.message_content .form-control,
.message_content .form-control:focus {
  color: black;
  border: 1px solid #c1ebd7;
  width: 100%;
}

// To style the message itself
.sender-style, .receiver-style {
  width: 50%;
  max-width: 400px;
  border-radius: 4px;
  padding: 8px;
  min-height: 80px;
}

.sender-style {
  background-color: #82D7AE;
}

.receiver-style {
  background-color: #D9D9D9;
}

.container-chatroom-navbar-align {
  margin-top: 85px;
}

.input-container {
  position: sticky;
  bottom: 0;
  display: flex;
}

.message {
  display: flex;
  width: auto;
}

#new_message {
  width: 100%;
}



.input-message-chatroom {
  width: 100%;
}

.button-chatroom {
}
