.wrapper-navbar {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 8px 0px 8px;
  background-color: transparent;

  i {
    font-size: 30px;
    color: #82D7AE;
  }


  .profile-link-img {

    img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
  }
}

#sticky {
  position: sticky;
  top: 0;
  z-index: 6;
}
