.eventform{
  padding: 20px;
  margin-top: 75px;

  .title{
    text-align: center;
    font-size: 20px;
    margin-bottom: 40px;
    margin-top: 20px;
    
  }

  .btn-new{
    display: flex;
    justify-content: center;
  }
  .btn-new {
    display: flex;
    justify-content: center;
  }

  label{
    margin-bottom: 10px;
  }
}

#event_name{
  border: solid $blue;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 20px;
  height: 50px;
}

#event_event_date{
  border: solid $blue;
  background-color: white;
  border-radius: 18px;
  margin: 0 !important;
  margin-bottom: 20px;
  height: 50px;

}

#event_photo{
  border: solid $blue;
  background-color: white;
  border-radius: 18px;
  margin-bottom: 20px;
  height: 50px;
}

#event_description{
  border: solid $blue;
  background-color: white;
  border-radius: 18px;
  height: 110px;
  margin-bottom: 20px;

}
