
.search {
  width: 100%;
  position: relative;
  display: flex;
}

.searchTerm {
  width: 100%;
  border: 3px solid #82D7AE;
  border-right: none;
  padding: 5px;
  height: 36px;
  border-radius: 10px 0 0 10px;
  outline: none;
  color: #9DBFAF;
}

.searchTerm:focus{
  color: #82D7AE;
}

.searchButton {
  width: 40px;
  height: 36px;
  border: 1px solid #82D7AE;
  background: #82D7AE;
  text-align: center;
  color: #fff;
  border-radius: 0 10px 10px 0;
  cursor: pointer;
  font-size: 20px;
}

/*Resize the wrap to see the search bar change!*/
.wrap{
  width: 100%;
  margin-top: 100px;


}
