.card-container {
  margin: 20px;
}


.card-spot {
  overflow: hidden;
  height: 120px;
  width: 340px;
  background: white;
  display: flex;
  align-items: center;
  margin-bottom: 5px;
  margin-top: 10px;
  border-radius: 10px;
  border: 1px solid #82D7AE;
  text-decoration: none;
  color: black;

}

.card-image {
  width: 120px;
  height: 120px;
  object-fit: cover;

}

.info-spot-card h2 {
  font-size: 18px;
  font-weight: bold;
  margin: 0;
  padding: 6px;


}

.info-spot-card p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
  margin-left: 3px;

}

.spot-rating {
  text-align: right;
  padding-right: 5px;
}

.link-card-spot {
  height: 120px;
  width: 350px;
  text-decoration: none;

}
