<p>liste des catégories - resto - bar - hotel -bla bla</p>


<% @categories.each do |category| %>
    <h3> <%= category.name %></h3>
    <h3> <%= category.photo_url %></h3>


<%= link_to "lien vers la cat", category_spots_path(category) %>
  <% end %>
