<p>liste des catégories - resto - bar - hotel -bla bla</p>

<p>
<%= link_to "go to spot 1", "/categories/1/restaurants" %>
</p>

<% @categories.each do |category| %>
              <h3> <%= category.name %></h3>
              <h3> <%= category.id %></h3>
                <%# <a href=<%= category_spots_path(spot) %> class="text-warning stretched-link" > lien vers la categories </a> %>
  <% end %>
